@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link href="/css/todo.css" rel="stylesheet">
}
<!-- emmet -->

<div class="parent-container">
    <div class="side">Menu</div>
    <div class="content">Content</div>
    <div class="details">Create new</div>
</div>

