@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link href="/css/todo.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
}
<!-- emmet -->

<div class="parent-container">

    <div class="content">
            <h4>My Tasks</h4>
        
            
        <div id="tasks" class="section-tasks">  
        </div>
        <button id="btnComplete" class="btn btn-info">Complete</button>
    </div>
    

    <div class="details">
        <div class="details-section">
        <input id="txtTitle" type="text" placeholder="Task title">
    </div>

       <div class="details-section">
        <label for="chkImportant">Important</label>
       <input id="chkImportant" type="checkbox">
       </div>

        <div class="details-section">
        <textarea id="txtNotes" placeholder="Notes" rows="6"></textarea>
        </div>

        <div class="details-section">
        <button id="btnSave" class="btn btn-info">Save Task</button>
    </div>

    </div>
</div>

@section Scripts {
    <script src="/js/calendar.js"></script>
}