

.parent-container {
    display: flex;
    height: 100%;

}

.side {
    flex: 1;
}

.content {
    flex: 1;
    background-color: rgb(198, 201, 202);
}

.details {
    flex: 1;
}

/* 
To check:
-flexbox css
-github vs code.
  

    To push changes:

    -add a message
    -commit the changes (local copy)
    -push to remote   

*/